dist/*
build/*
tests/*
.directory
fotokilof/__pycache__/
.vscode/
.idea/
build/
dist/
*.egg-info/
.log
.ini
.claude/
fotokilof/1920x1080/
fotokilof/25/
fotokilof/50/
fotokilof/python-powered.png*
fotokilof/.coverage
.DS_Store
FotoKilof.egg-info/*
.coverage
screenshots/FotoKilof/*